  nav {
    background-color: #5A493D;
    text-align: center; /* Center align the content within the nav */
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Adjust as needed */
  }
